<html>
    <head>
        <script type="text/javascript">
         function showhide(id) {
            var e = document.getElementById(id);
            e.style.display = (e.style.display == 'block') ? 'none' : 'block';
         }
</script>
    </head>
    
    <body>
        <div>
            <form action="" method="post" name="get_question">
                {{ form.hidden_tag() }}
                <label for="question">Your question:</label>
        		{{ form.question }}</br>
        		<input type="submit">
        	</form>
        </div>
        <p>{{response}}</p>
        
        <a href="javascript:showhide('uniquename')">
        Click to show/hide.
        </a>

        <div id="uniquename" style="display:none;">
        <p>Content goes here.</p>
        </div>
    </body>
</html>